<!-- _includes/header.html -->
<!-- <header>
  <nav class="site-nav">
    <ul class="menu">
        <li><a href="/">Home</a></li>
        <li><a href="/docs/faq">FAQ</a></li>
        <li><a href="https://developer.wikimint.com/p/contact.html" target="_blank">Contact</a></li>
      </ul>
    </nav>
  </header> -->

  <header class="site-header sticky-top bg-white shadow-sm">

    <div class="wrapper">
      {%- assign default_paths = site.pages | map: "path" -%}
      {%- assign page_paths = site.header_pages | default: default_paths -%}
      {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}
      <a class="site-title fw-normal text-secondary d-flex align-items-center" rel="author" href="{{ "/" | relative_url }}">
        <img class="me-2" width="28px" height="auto" src="https://img.icons8.com/ios/300/228BE6/open-source.png" alt="Freeware projects includes free-tier, open-source and more"/>Freeware</a>
  
      {%- if titles_size > 0 -%}
        <nav class="site-nav">
          <input type="checkbox" id="nav-trigger" class="nav-trigger" />
          <label for="nav-trigger">
            <span class="menu-icon">
              <img src="/favicon.ico" height="30px"> wmWebStack
            </span>
          </label>
  
          <!-- <div class="trigger">
            {%- for path in page_paths -%}
              {%- assign my_page = site.pages | where: "path", path | first -%}
              {%- if my_page.menu_title -%}
              <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.menu_title | escape }}</a>
              {% else if my_page.title %}
              <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
              {%- endif -%}
            {%- endfor -%}
            <!-- <button class="btn btn-small btn-light shadow-sm border" id="download">Download CV</button> -->
          </div> -->
        </nav>
      {%- endif -%}
    </div>
  </header>
  