<!-- _includes/header.html -->
<!-- <header>
  <nav class="site-nav">
    <ul class="menu">
        <li><a href="/">Home</a></li>
        <li><a href="/docs/faq">FAQ</a></li>
        <li><a href="https://developer.wikimint.com/p/contact.html" target="_blank">Contact</a></li>
      </ul>
    </nav>
  </header> -->

  <header class="site-header sticky-top bg-white shadow-sm">

    <div class="wrapper">
      {%- assign default_paths = site.pages | map: "path" -%}
      {%- assign page_paths = site.header_pages | default: default_paths -%}
      {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}
      <a class="site-title fw-normal text-secondary d-flex align-items-center" rel="author" href="{{ "/" | relative_url }}">
        <img class="me-2" width="28px" height="auto" src="/favicon.ico" alt="Freeware projects includes free-tier, open-source and more"/>wmWebStack</a>
      </div>
  </header>
  